.header{
    background-image: url(../img/Blackberry\ Curd-Filled\ Earl\ Grey\ Cupcakes\ by\ emmaduckworthbakes\ _\ Quick\ &\ Easy\ Recipe\ \ _\ The\ Feedfeed.png);
    background-position:center ;
    background-size: initial;
    position: relative;
    color:navy

}
.img-logo{
    width: 40px;
    color: navy;
}
.tamanio {
    font: size 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    
}
.header::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}
.vh-50{
    height: 50vmin;
    color: navy;
}
.size-logo{
    width: 156px;}
.text-white{
    color: navy;
}